In [2]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [4]:
#task 2
tup=(10, 20, 25, 30, 40)

if len(tup)>=4:
    print(tup[2:-2])

(25,)

In [6]:
#TASk 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(len(book_info))
for i in book_info:
    print(i)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [8]:
#TASK 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
for i in book_info:
    category,name,votes=i
    print(f"{name} won the {category} with {votes} votes")

The Silent Patient won the Best Mystery & Thriller with 68821 votes
The Institute won the Best Horror with 75717 votes
The five won the Best History & Biography with 31783 votes
The Testaments won the Best Fiction with 98291 votes

In [14]:
#TASK 5
n=int(input("Please enter: "))
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count=0
for i in tup:
    if n==i:
        count+=1
print(f"{n} appears {count} times in the tuple")

Please enter: 8
8 appears 4 times in the tuple

In [16]:
#Task 6
tup=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1=list(tup)
list2=[]
for i in range (-1,len(list1)-1):
    list2.append(list1[i])
print(tuple(list2))

('h', 'a', 'b', 'c', 'd', 'e', 'f', 'g')

In [5]:
#Task 7
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
dict1.update(dict2)
print(dict1)
#or,
print(dict1|dict2)
#or,
dict3={**dict1,**dict2}
print(dict3)
#or,
dict2=dict1
print(dict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [35]:
#task 8
n=int(input())
dict1={}
for i in range(n):
    key=input("Enter key: ")
    value=input("Enter values: ") # string hishebe dicchi
    dict1[key]=value
print(dict1)
add=0
for i in dict1.values():
    add+=int(i) # string ke int kora lagbe
print(f"average is {add//n}")

4
Enter key: jon
Enter values: 100
Enter key: dan
Enter values: 200
Enter key: ron
Enter values: 300
Enter key: ned
Enter values: 110
{'jon': '100', 'dan': '200', 'ron': '300', 'ned ': '110'}
average is 177

In [11]:
#TASK 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
dict1=exam_marks.copy()
n=int(input())

for key,value in exam_marks.items():
    if (n>=dict1[key]):
        del dict1[key]
print(dict1)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [4]:
#Task 10
dict1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
maxm=dict1['sci fi']
for key in dict1.keys():
    if dict1[key]>maxm:
        maxm=dict1[key]
        name=(key)
print(f"The highest selling book genre is '{name}' and the number of books sold are {maxm}")

The highest selling book genre is 'mystery' and the number of books sold are 15

In [3]:
#TASK 11
n=input("PLEASE INSERT: ")
x=n.strip('""').replace(" ","").lower()
dict1={}
print(x)
for i in x:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

PLEASE INSERT: "pythion is fun"
pythionisfun
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'i': 2, 'o': 1, 'n': 2, 's': 1, 'f': 1, 'u': 1}

In [19]:
#TASK 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for i in dict_1.values():
    for val in i:
        count+=1
print(count)

9

In [2]:
#TASK 13 (my method)
list1=[("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
for tup in list1:
    key,value = tup
    if key in dict1.keys():
        dict1[key].append(value)
    else:
        dict1[key] = [value]
print(dict1)
#or,

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [3]:
#alternate methods
a_list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
a_dict = {}
for a_tuple in a_list:
    key, value = a_tuple
    
    if(key in a_dict):
        a_dict[key].append(value)
        continue
    a_dict[key] = [value] 
print(a_dict)
#or,
list1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
d={}

for tup in list1:
    key,value=tup
    if key not in d.keys():
        d[key]=[value]
    else:
        d[key].append(value)
print(d)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}
{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [2]:
list1=[("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1=dict()
for key,val in list1:
    dict1.setdefault(key,[]).append(val)
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [24]:
#task 15
given=[(2, 3), (4, 5), (6, 7), (2, 8)]
list1=[]
for tup in given:
    one,two=tup
    multiply=one*two
    list1.append(multiply)
print(list1)

[6, 20, 42, 16]

In [12]:
#task 16
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
inp=input("enter: ")
for item in a_tuple:
    item[-1]=inp
print(a_tuple)
#====================================================
for i in a_tuple:
    for j in i:
        j[-1]=inp
print(a_tuple)

enter: abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

TypeError: 'int' object does not support item assignment

In [46]:
#Task 17
mydict = { 'c1':'Red', 'c2':'Green',
                'c3':None,
                'd4':'Blue',
                'a5':None }
new=mydict.copy()
for val in mydict.keys():
    if new[val]==None:
        del new[val]
print(new)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [5]:
my_dictionary = {'c1':'Red', 
                 'c2':'Green',
                 'c3':None, 
                 'd4':'Blue',
                 'a5':None}
pop=["c3", "a5"]
for i in pop:
    my_dictionary.pop(i)
print(my_dictionary)
# or,
d={}
for key,value in my_dictionary.items():
    if value != None:
        d[key] = value
print(d)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}
{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [50]:
#task 18
dict_1 = {'a' : 6,'b' : 7, 'c' : 9,'d' : 8, 'e' : 11, 
          'f' : 12,
          'g' : 13}
lower=int(input())
upper=int(input())
new={}
for key,value in dict_1.items():
    if value>=lower and value<upper:
        new[key]=value
print(new)

14
18
{}

In [17]:
#TAsk 19
Input = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
Output = {}
for x, y in Input:
    if y in Output:
        Output[y].append((x, y))
    else:
        Output[y] = [(x, y)]
print(Output)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [19]:
#task 19
glist = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
d={}
for i in glist:
    if i[1] not in d:
        key=i[1]
        val=i
        d[key]=[val]
    else:
        key=i[1]
        d[key].append(i)
print(d)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}